@media screen and (min-width: 1800px) {

}

@media screen and (min-width: 1600px) {

    /*Header*/
    .navLinksList{gap:90px;}
    .headerLogoSec > a > img{max-width: 100%;}

    .atGlanceItem h2{font-size: 90px;}
    .atGlanceItem span{font-size: 90px;}

    .whatWeDoGridItem{padding: 60px;}
    .whatWeDoGridItem p{font-size: 30px;}
    .whatWeDoHead p{font-size: 35px;}

    .whatWeDoGridItem p{font-size: 30px;}

    .bestWorkBody{height:90vh}
    .sectionTitle{font-size: 90px;}
    .sectionTitle > em{font-size: 55px;}
    .activeSlideInfo h3{font-size:50px;}
    /* .thumbsSliderWrap{width:400px} */
    .thumbItem{height:100px;}

    .galleryItem{height:480px;}

    .whyChooseContent > h2{font-size: 65px;padding-bottom: 100px;}
    .whyChooseContent.paddingLeft{padding-left:60px}

    .postTensionWrap{min-height:850px;}
    .postTensionContent h2{font-size: 90px;margin-bottom: 40px;}
    .postTensionContent p{font-size: 30px;margin-bottom: 50px;}

    .clientReviewWrap{padding: 135px 0;}
    .clientReviewContent{flex-direction: row;}
    .clientReviewTitle > h2{margin-bottom: 80px;}
    .clientReviewTitle > h2 > span{display: block;}
    .clientReviewTitle > div{flex-direction: column;}
    .clientReviewContent{gap: 80px;}
    .clientReviewSliderItemContent p{font-size: 30px;margin-bottom: 60px;}
    .clientReviewSliderItemContent span{font-size: 30px;}

    .homeFormWrap{padding:150px 0 200px;}
    .homeFormSec form{margin-top: 60px;gap:50px;}
    .homeFormHead h2{font-size:70px;}
    .homeFormSec input{padding:18px 42px;height: 70px;}
    .homeFormSec button{height: 70px;padding:16px 80px;}

    .footerWrap{padding: 120px 0;}

}

@media screen and (min-width: 1440px) {
    /*Header*/
    .navLinksList{gap:60px;}
    .headerWrap.scrolled .headerNavLinks .navLinksList{gap:50px;}
    .headerWrap { padding: 20px 100px;}
    .headerWrap.fix{padding: 10px 100px;}
    .talkWithUsBtn{font-size: 18px;}
    .navLinksList{gap:40px;}
    .navLinksList > li > a{font-size: 20px;}
    
    /*footer*/
    .footerWrap{padding: 80px 0;}
    .footerContent{gap: 60px;}
    .footerAddressSec > p{font-size: 24px;}
    .socialMediaLinks > p{font-size: 24px;}
    .footerContent span{font-size: 22px;}
    .footerLinksList > li > a{font-size: 20px;}
    .footerLinksSec{gap: 120px;}
    .socialMediaLinks{gap: 40px;}
    .socialMediaList{gap: 20px;}

    
}

@media screen and (min-width: 1300px) {}

@media screen and (max-width: 1200px) {

    /*header*/
    .headerWrap{gap: 20px; background-color: #000; backdrop-filter:blur(2px); padding: 10px 50px;}
    .navLinksListSec { display: none; }
    .navLinksList > li > a{font-size: 18px;}
    .talkWithUsSec span{font-size: 16px;}
    .headerLogo > img{max-width: 100px;}
    .headerWrap.scrolled .headerLogo > img {top: -35px;}    
    .headerWrap .headerLogoSec > a > img, .headerWrap.fix .headerLogoSec > a > img{transform: none;max-width: 145px;}
    .headerWrap .navLinksList, .headerWrap.fix .navLinksList{gap:20px}

    /* Why Choose Us Home */    
    .whyChooseContent > h2{font-size: 30px;}
    .whyChooseContent .SecHeading{font-size: 25px;}
    .whyChooseContent.paddingLeft{padding-left:30px}
    .whyChooseContent.paddingRight{padding-right:30px}

    /*At glance*/
    .atGlanceWrap{padding: 65px 0;}
    .atGlanceWrap::after{border:15px solid #fff;}
    .atGlanceGrid{padding: 0 20px;}

    /*Post Tension*/
    .postTensionWrap:after{border:15px solid #fff;}
    .postTensionContent{padding: 0 20px;}

    /*home form*/
    .homeFormSec form{flex-wrap: wrap;}

   

}

@media screen and (max-width: 1024px) {

    /*header mobile menu*/
    .headerNavLinks {display: none;}
    .hamburger.active span:nth-child(1) {transform: rotate(45deg) translate(5px, 5px);}
    .hamburger.active span:nth-child(2) {opacity: 0;}
    .hamburger.active span:nth-child(3) { transform: rotate(-45deg) translate(7px, -6px);}
    .talkWithUsSec{width: 120px;display: flex;align-items: center;justify-content: center;position: relative;}
    .headerWrap.scrolled .headerSec{height: 65px;padding: 25px 0 0;}
    .talkWithUsIcon{bottom: 5px;left: -18px;}
    .headerWrap.scrolled .headerLogo > img{max-width: 70px;top:0px;position: absolute;left: 70px;}

    /* Home Gallery */
    .homeGalleryGrid{grid-template-columns:repeat(2,1fr)}
}

@media only screen and (max-width: 991px) {

    /*header*/
    .whatsappBtnWrap{right: 25px;}
    .headerWrap,.headerWrap.fix{padding: 10px 15px;}
    .talkWithUsBtn {padding: 10px 20px; font-size: 15px;}
    .headerLogoSec > a > img{max-width: 150px !important;}


    /*banner*/
    .bannerContent h1{margin-bottom: 25px;font-size: 55px;}
    .bannerContent p{font-size: 20px;text-align: center;}
    .bannerSlide{height:750px;}
    .bannerWrapper .swiper-pagination{right:25px!important;} 

    /*At glance*/            
    .atGlanceItem h2{font-size: 50px;}
    .atGlanceItem.item2 > img{max-width: 80px;}
    .atGlanceItem span{font-size: 50px;margin-bottom: 10px;display: block;text-align: right;}    
    .atGlanceItem p { font-size: 20px; line-height: 1.3em; }

     /*what we do*/
    .whatWeDoGrid { grid-template-columns: repeat(1, 1fr);gap: 20px;}
    .whatWeDoWrap{margin: 45px 15px;}
    .whatWeDoHead h2 { margin-bottom: 20px; font-size: 40px;}
    .whatWeDoHead p{font-size: 25px;}
    .whatWeDoHead{margin-bottom: 40px;}
    .whatWeDoGridItem p{font-size: 20px;}
    .whatWeDoGridItemIcon > img{max-width: 120px;}

    /* Home Gallery */
    .galleryItem{height: 320px;}
    .galleryContent h3{font-size: 40px;}

    /* Why Choose Us Home */    
    .whyChooseSection{padding:50px 15px 35px; }
    .whyChooseImage{display: none;}
    .whyChooseAccordion .accordion-button{font-family:'neue_haas_grotesk_display65Md';font-size:18px;padding:15px 0}
    .whyChooseAccordion .titleSmall{font-size:15px;margin:0 0 10px}
    .whyChooseContent > h2{font-size: 40px;padding-bottom: 30px;}
    .whyChooseContent{padding-left: 0px !important;padding-right: 0px;}

    /**/
    .sectionTitle{font-size: 50px;}
    .custom-nav-btn >img{max-width: 40px;}
    .thumbItem{height: 70px !important;width: 70px !important;}
    .activeSlideInfo{padding: 0 30px 0 0;}
    .activeSlideInfo h3{font-size: 30px;}
    .activeSlideInfo p{font-size: 18px;}
    .thumbsSliderWrap{width: 300px;}
    .bestWorkOverlay .container{padding-top: 60px;padding-bottom: 60px;}

    /**/
    .clientReviewContent{flex-direction: column;}

    /**/
    .postTensionWrap{min-height: 550px;}
    .postTensionContent span{font-size: 30px;}
    .postTensionContent h2{font-size: 40px;margin-bottom: 25px;}
    .postTensionContent p{font-size: 24px;}
    .postTensionContent .exploreBtn{font-size: 18px;padding: 12px 34px;}

    /**/
    .clientReviewWrap{padding: 60px 0;}
    .clientReviewTitle > h2{font-size: 40px;margin-bottom: 25px;}
    .clientReviewTitle > h2 >span{display: inline-block;}
    .clientReviewSliderItemImg > img{display: none;}
    .clientReviewSliderItemImg{flex: 0;}
    .clientReviewContent{gap: 40px;}
    .clientReviewSliderItemContent{padding: 30px;border-radius: 25px;}
    .clientReviewSliderItemContent p{font-size: 20px;margin-bottom: 30px;}
    .clientReviewSliderItemContent span{font-size: 20px;}
    .clientReviewTitle > div{display: flex;gap: 10px;}
    .clientReviewTitle > div > span{font-size: 25px;}

   /*home form*/
   .homeFormWrap{padding: 60px 0;min-height:auto;}
   .homeFormHead h2{font-size: 40px;margin-bottom: 20px;text-align: center;}
   .homeFormHead p{font-size: 20px;}
   .homeFormContent{gap: 40px;justify-content: flex-start;}
   .homeFormSec form{gap: 15px;}
   .homeFormSec form > *{flex: 1;}
   .homeFormSec input{padding: 10px 30px;}
   .homeFormSec button{padding: 12px 15px;font-size: 16px;}

   /*footer*/   
   .footerSec{padding: 40px 0;}
   .footerContent { flex-direction: column; gap: 30px; } 
   .footerLinksSec { flex-direction: column; gap: 30px; } 
   .footerBottomSec { flex-direction: column; gap: 10px; text-align: center;margin-top: 30px; } 
   .footerLinksCol { width: 100%; }
   .footerAddressSec p{margin-bottom: 10px;}
   .socialMediaList{align-items: center;}
   .socialMediaLinks>p{margin: 0;}
   .footerLinksList > li > a{margin-bottom: 12px;}
   .footerLogoSec{gap: 30px;}


}

@media only screen and (max-width: 767px) {  

    /*header*/
    .whatsappBtnWrap{right: 15px;}
    .headerWrap.scrolled .talkWithUsSec span{font-size: 14px;}
    .headerWrap.scrolled .headerSec {padding: 20px 0 0; }
    .hamburger{gap: 7px;}
    .headerWrap.scrolled .talkWithUsIcon{width: 18px;height: 18px;left: 0px;bottom: 25px;}
    .talkWithUsSec{align-items: flex-start;}
    .sidebarContent{width: 350px;max-width: 85vw;}
    .headerWrap.scrolled .headerLogo > img { left: 60px;}
    .headerLogoSec > a > img {max-width: 120px !important;}
    .hamburgerSec{gap: 15px;}

    /*banner*/
    .bannerContent .img{max-width: 80%;}    
    .bannerWrapper .swiper-pagination{right:15px!important;}  
    .bannerContent p{padding: 0 25px;}  
    .bannerContent h1 { margin-bottom: 15px; }
    .bannerSlide{height:650px;}
    .bannerContent h1{font-size: 35px;}

    /**/
    .atGlanceWrap{height: 65vh;}
    .atGlanceWrap:after{border: 15px solid #fff;}
    .atGlanceItem h2 { font-size: 30px;text-align: center;}
    .atGlanceGrid{display: flex;flex-direction: column;gap: 20px;align-items: center;gap: 40px;min-height: auto;justify-content: center;padding: 0 15px;}
    .atGlanceItem span{font-size: 30px;}
    .atGlanceItem .exploreBtn { padding: 12px 32px; font-size: 18px;}
    .atGlanceItem.item4{align-items: center;}
    .atGlanceItem p{text-align: center;}    

    /* Home Gallery */
    .homeGalleryGrid{grid-template-columns:1fr}
    .galleryItem {aspect-ratio:auto;height:250px}
    .galleryContent h3{font-size: 40px;}    
    .bestWorkBody{height: 85vh;}

    /**/
    .bestWorkHeader{flex-direction: column;gap: 15px;}
    .bestWorkFooterExternal{flex-direction: column;gap: 15px;align-items: flex-start;}
    .activeSlideInfo{max-width: 100%;padding: 0;}    
    .sectionTitle,.sectionTitle > em{font-size: 25px;}
    .sectionTitle > em{display: inline-block;}
    .activeSlideInfo h3 { font-size: 25px; }
    .activeSlideInfo p { font-size: 18px; }

    .whyChooseSection{overflow: hidden;}
    .whyChooseContent > h2{font-size: 30px;}

    .postTensionWrap{min-height: 500px;}
    .postTensionContent h2{font-size: 30px;}
    .postTensionContent p{font-size: 22px;margin-bottom: 20px;}

    .clientReviewTitle > h2{font-size: 30px;margin-bottom: 20px;}
    .clientReviewTitle > h2 > span{font-size: 40px;}
    .clientReviewTitle > div > span{font-size: 22px;}
    .clientReviewSliderItemContent {padding: 25px; }

    .whatWeDoWrap { margin: 35px 15px 45px;}
    .whatWeDoHead h2{font-size: 30px;}
    .whatWeDoHead p{font-size: 20px;}

        .homeFormSec input{height: 45px;}
    .homeFormSec button{height: 45px;}

}

@media only screen and (max-width: 479px) {

    /*common*/
    .homeFormHead h2{font-size: 30px;}

    /*header*/
    .sidebarHeader{padding: 20px 20px 5px;}
    .sidebarNavList a{font-size: 16px;}
    .sidebarNavList li{margin-bottom: 12px;padding-bottom: 12px;}

    /*banner*/
    .bannerContent h1{font-size: 30px;}
    .bannerContent p{font-size: 16px;padding: 0;}

    /**/
    .homeFormHead p{font-size: 18px;}

    /**/
    .whyChooseContent > h2 { font-size: 25px; }
    .SecHead h1, .SecHeading { font-size: 20px; }

    /**/
    .postTensionContent p { font-size: 20px; }

    /**/
    .whatWeDoGridItem{padding: 30px;}
    .whatWeDoGridItem p{font-size: 18px;}

    /*footer*/
    .footerWrap{padding: 40px 0;}
    .footerLogoImg > img{max-width: 180px;}
    .footerLogoSec{gap: 25px;}
    .socialMediaLinks > p{font-size: 16px;}
    .footerContent, .footerLinksSec{gap: 25px;}
    .footerLinksList > li > a{font-size: 16px;margin-bottom: 10px;}
    .footerContent span{font-size: 18px;margin-bottom: 15px;}
    .footerBottomSec > p{font-size: 14px;}
    .footerBottomSec{padding: 20px 0;margin-top: 25px;}
    .socialMediaList > li a img{transform: scale(0.8);}
    .socialMediaLinks {gap: 20px;}
    .socialMediaList{gap: 10px;}


}

@media only screen and (max-width: 320px) {

    /*header*/
     .talkWithUsBtn {padding: 8px 16px; font-size: 14px;}
    .headerLogoSec > a > img{max-width: 100px !important;}
}