/*Header*/
.headerWrap { z-index: 1000; will-change: padding, background, box-shadow; background: linear-gradient(#000, #0000); justify-content: space-between; align-items: center; gap: 25px; width: 100%; padding: 20px 50px; transition: padding 0.5s ease, background-color 0.5s ease; display: flex; position: fixed; top: 0; left: 0; }
.headerWrap.fix{background-color: #000; backdrop-filter:blur(2px); padding: 10px 50px;}
.headerWrap > .container{width:100%}
.headerSec{display:flex;justify-content:space-between;padding: 35px 0 0;height: 135px;}
.headerWrap.fix .headerSec{padding: 30px 0 0;height: 100px;}
.navLinksList{display:flex;gap:30px;transition:all 0.5s ease;height: 80px;padding: 0;margin: 0;align-items: center;}
.headerWrap.fix .navLinksList{gap:30px;height: 70px;}
.navLinksList > li{display: block;}
.navLinksList > li > a{font-size: 18px;line-height: 1em;color: #fff;}
.navLinksList > li > a.active{color: var(--yellow);}
.homeLink{position: relative;}
.homeLink::before{content:"";position: absolute;top: -15px;left: 50%;transform: translateX(-50%);background-image: url(/images/common/home-icon.png);background-repeat: no-repeat;background-position: center center;width: 20px;height: 20px;}
.headerLogoSec{position: relative;}
.headerLogoSec > a > img{position: relative;top: 0;transition: all 0.5s ease;max-width: 200px;}
.headerWrap.fix .headerLogoSec > a > img{transform:scale(0.8);}
.hamburgerSec{display:flex;align-items: center;gap:20px;}
.hamburger{display:flex;flex-direction:column;gap:6px;cursor:pointer;height: max-content;align-items: flex-end;}
.headerWrap.scrolled .hamburger span{width:23px}
.talkWithUsBtn {background: linear-gradient(252deg, rgba(71, 190, 177, 1) 0%, rgba(0, 149, 211, 1) 100%);border-radius: 30px; align-items: center; gap: 15px; padding: 15px 30px; font-size: 16px; transition: background .3s ease-in-out; display  : inline-flex;color: #fff;line-height: 1em;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal; }
.talkWithUsBtn:hover {background: linear-gradient(252deg, rgba(0, 149, 211, 1) 0%, rgba(71, 190, 177, 1) 100%);color: #fff; }

/* Mobile Sidebar */
.mobileSidebar{position:fixed;top:0;left:0;width:100%;height:100vh;z-index:9999;opacity:0;visibility:hidden;transition:all .3s ease}
.mobileSidebar.active{opacity:1;visibility:visible}
.sidebarOverlay{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);backdrop-filter:blur(2px)}
.sidebarContent{position:absolute;top:0;right:0;width:300px;max-width:75vw;height:100vh;background:#fff;color:#000;transform:translateX(100%);transition:transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);display:flex;flex-direction:column;box-shadow: -5px 0 15px rgba(0,0,0,0.1);}
.mobileSidebar.active .sidebarContent{transform:translateX(0)}
.sidebarHeader{display:flex;justify-content:flex-end;padding:20px 20px 15px;}
.closeSidebar{background:none;border:none;cursor:pointer;display:flex;flex-direction:column;gap:6px;padding:10px}
.closeSidebar span{display:block;width:20px;height:2px;background:#000;transition:all .3s ease}
.closeSidebar span:nth-child(1){transform:rotate(45deg) translate(5px, 5px)}
.closeSidebar span:nth-child(2){transform:rotate(-45deg) translate(1px, -1px)}

.sidebarNav{flex:1;padding:0 20px 40px 20px;overflow-y: auto;}
.sidebarNavList{list-style:none;padding:0;margin:0}
.sidebarNavList li{margin-bottom:15px; border-bottom: 1px solid #eee; padding-bottom: 15px;}
.sidebarNavList a{color:#000;text-decoration:none;font-size:22px;font-weight:500;transition:all .3s ease;display:block; font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;}
.sidebarNavList a:hover{color:var(--greenBlue); padding-left: 10px;}
.sidebarNavList a.active{color:var(--greenBlue);}

/*WhatsApp Button*/
.whatsappBtnWrap{position: fixed;bottom: 80px;right: 100px;z-index: 1000;border-radius: 50%; }
.whatsappBtn{display: inline-block;width: 64px;height: 64px;display: flex;align-items: center;justify-content: center;transition: all 0.3s ease;}
.whatsappBtn:hover{transform: scale(1.1);}
.whatsappBtn img{width: 64px;height: 64px;}

/*Banner*/
.bannerWrapper{position:relative;}
.bannerWrapper .container{height: 100%;}
.bannerSwiper{position:relative !important;}
.bannerSlide{position:relative;height:100vh;display:flex;align-items:center;background-color: #000;}
.bannerBgImage{object-fit:cover;object-position:center;z-index:1;}
.bannerOverlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:2;}
.bannerContent{position:relative;z-index:3;color:#fff;text-align:center;margin:0 auto;height:100%;display: flex;justify-content: center;align-items: center;}
.bannerContent h1{margin-bottom: 50px;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal; font-size: 90px;}
.bannerContent h1 span{display: block;font-family: 'neue_haas_grotesk_disp55roman';font-weight: normal;}
.bannerContent p{font-size:24px;line-height:1.6;color: #fff;position: absolute;bottom: 55px;left: 0;text-align: left;max-width: 760px;}
.bannerWrapper .swiper-pagination{position:absolute!important;right:100px!important;left:auto!important;z-index:100!important;display:flex!important;flex-direction:column!important;gap:10px!important;width:auto!important;height:100%;justify-content: center;}
.bannerWrapper .swiper-pagination-bullet{margin:0!important;width:15px!important;height:15px!important;background:transparent!important;transition:all .3s ease!important;border-radius:50%!important;border:1px solid #fff!important;position:relative!important;}
.bannerWrapper .swiper-pagination-bullet::before{content:''!important;position:absolute!important;top:50%!important;left:50%!important;transform:translate(-50%,-50%)!important;width:3px!important;height:3px!important;border-radius:50%!important;opacity:1!important}
.bannerWrapper .swiper-pagination-bullet::before{background:#fff!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active{transform:scale(1.3)!important;opacity:1!important;}
.bannerWrapper .swiper-pagination-bullet-active::before{background:#fff!important;opacity:1!important;transform:translate(-50%,-50%) scale(1.2)!important}

/* At Glance */
.atGlanceWrap{position:relative;height: 80vh;display:flex;align-items:center;padding: 85px 0;}
.atGlanceWrap::after{content:"";position:absolute;inset:0;border:35px solid #fff;z-index:5;pointer-events:none;}
.atGlanceBg{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:0;border-radius:3px;}
.atGlanceOverlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background:linear-gradient(360deg,#000 30%,#fff0 100%);opacity:.6}
.atGlanceWrap .container{position:relative;z-index:2;width:100%;height: 100%;}
.atGlanceGrid{display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; height: 100%; min-height: 500px; gap: 40px;}
.atGlanceItem{display: flex; flex-direction: column;}
.atGlanceItem.item1{justify-content: flex-start; align-items: flex-start;}
.atGlanceItem.item2{justify-content: flex-start; align-items: flex-end;}
.atGlanceItem.item2 img{filter: brightness(0) invert(1);}
.atGlanceItem.item3{justify-content: flex-end; align-items: flex-start;}
.atGlanceItem.item4{justify-content: flex-end; align-items: flex-end; color: #fff;}
.atGlanceItem h2{font-size: 60px;line-height: 1em;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal; color: #fff; max-width: 400px;}
.atGlanceItem span{font-size: 60px;line-height: 1em; display: block; margin-bottom: 20px; font-family: 'neue_haas_grotesk_disp55roman'; font-weight: normal;}
.atGlanceItem p{font-size: 24px;line-height: 1em;text-align: right;}
.atGlanceItem .exploreBtn{display: inline-block;background: linear-gradient(252deg, rgba(71, 190, 177, 1) 0%, rgba(0, 149, 211, 1) 100%);color: #fff;padding: 16px 42px;border-radius: 30px;transition: all .5s ease;font-size: 22px;line-height: 1em;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;}
.atGlanceItem .exploreBtn:hover{background: linear-gradient(252deg, rgba(0, 149, 211, 1) 0%, rgba(71, 190, 177, 1) 100%);color: #fff; }

/*what we do*/
.whatWeDoWrap{margin: 50px 35px 85px;}
.whatWeDoHead{margin-bottom: 60px;text-align: center;}
.whatWeDoHead h2{font-size: 50px;line-height: 1em;margin-bottom: 30px;color:var(--grey);}
.whatWeDoHead p{font-size: 25px;line-height: 1.2em;color: #000;}    
.whatWeDoGrid{display: grid;grid-template-columns: repeat(3,1fr);gap: 30px;}
.whatWeDoGridItem{padding: 40px;display: flex;justify-content: space-between;align-items: center;flex-direction: column;border-radius: 5px;text-align: center;gap: 30px;}
.whatWeDoGridItem p{font-size: 22px;line-height: 1.3em;margin: 0;color: #fff;}
.whatWeDoGridItem.item1{background-color: var(--greenBlue);}
.whatWeDoGridItem.item2{background-color: var(--blue);}
.whatWeDoGridItem.item3{background-color: var(--yellow);}

/* Best Work Section */
.bestWorkWrap{overflow:hidden;position:relative}
.bestWorkBody{position:relative;height:80vh}
.bestWorkOverlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;pointer-events:none;background:linear-gradient(360deg,#000 0%,#fff0 100%);}
.bestWorkOverlay .container{height:100%;display:flex;flex-direction:column;justify-content:space-between;padding-top:60px;padding-bottom:60px}
.bestWorkHeader,.bestWorkFooterExternal{pointer-events:auto}
.bestWorkHeader{display:flex;justify-content:space-between;align-items:center;margin-bottom:30px}
.sectionTitle{color: #fff;font-size: 70px;line-height: 1em;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;}
.sectionTitle > em{display: block;font-family: 'neue_haas_grotesk_disp55roman';font-size: 35px;line-height: 1em;font-style: normal;}
.bestWorkControls{display:flex;align-items:center;gap:15px}
.bestWorkControls .swiper-pagination-bullet{width: 5px;height: 5px;border-radius: 50%;}
.bestWorkControls .swiper-pagination-bullet-active{background: #fff;width: 12px;height: 5px;border-radius: 5;}
.bestWorkControls .swiper-pagination-fraction, 
.bestWorkControls .swiper-pagination-custom, 
.bestWorkControls .swiper-horizontal > .swiper-pagination-bullets, 
.bestWorkControls .swiper-pagination-bullets.swiper-pagination-horizontal{width: auto;}
.custom-nav-btn{cursor:pointer;transition:opacity .3s}
.custom-nav-btn:hover{opacity:.7}
.bestWorkMainSlider{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1}
.bestWorkSlideItem{width:100%;height:100%;position:relative}
.bestWorkImage{width:100%;height:100%;position:relative}
.workImg{object-fit:cover}
.bestWorkFooterExternal{display:flex;justify-content:space-between;align-items:flex-end}
.activeSlideInfo{max-width:60%;color: #fff;}
.activeSlideInfo h3{font-size:45px;margin-bottom:10px;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;line-height: 1em;}
.activeSlideInfo p{font-size:30px;line-height: 1.4em;color:#fff;max-width: 850px;}
.thumbsSliderWrap{width:360px}
.bestWorkThumbsSlider .swiper-slide{cursor:pointer}
.thumbItem{border-radius:10px;overflow:hidden;opacity:.5;transition:opacity 0.3s,border .3s;border:2px solid transparent;height:82px;position:relative}
.thumbItem.active-thumb{opacity:1;border-color:#fff;box-shadow:0 4px 10px #0003}
.thumbImg{width:100%;height:100%;display:block;object-fit:cover}

/* Home Gallery */
.homeGallerySection{width:100%}
.homeGalleryGrid{display:grid;grid-template-columns:repeat(4,1fr);width:100%}
.galleryItem{width:100%;position:relative;height:360px;display:flex;align-items:center;justify-content:center;text-align: center;padding: 15px;}
.galleryText{color: #fff;}
.galleryContent h3{font-size:60px;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;}
.galleryContent p{font-size:16px;line-height:1.5}
.galleryImg{object-fit:cover;width:100%;height:100%}

/* Why Choose Us Home */
.whyChooseSection{position:relative;padding:70px 60px 0 0;}
.whyChooseSection.pdHome{padding:150px 0 50px}
.whyChooseSection .alSelfCenter{align-self:center}
.whyChooseImage{position:relative;overflow:hidden;margin:0}
.whyChooseImage img{width:100%}
.whyChooseContent{position:relative}
.whyChooseContent.paddingLeft{padding-left:45px}
.whyChooseContent.paddingRight{padding-right:45px}
.whyChooseContent > h2{font-size: 40px;line-height: 1.1em;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;padding-bottom: 40px;color: #000;}
.whyChooseAccordion{position:relative;margin:0}
.whyChooseAccordion .accordion-button:not(.collapsed){background-color:transparent}
.whyChooseAccordion .accordion-button{font-family:'neue_haas_grotesk_display75Bd';font-style:normal;color:#111;font-size:24px;padding:20px 0}
.whyChooseAccordion .accordion-body{color:#444;padding:0 0 20px}
.whyChooseAccordion .titleSmall{font-size:22px;color:#343053;margin:0 0 10px}
.whyChooseAccordion .accordion-item{background-color:transparent;border:0;border-bottom:1px solid #D4D4D4}
.whyChooseAccordion .accordion-button:not(.collapsed){box-shadow:none}
.whyChooseAccordion .accordion-button:not(.collapsed)::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");transform:rotate(-180deg)}
.whyChooseContent .SecHeading{font-size: 30px;}

/* Post Tension */
.postTensionWrap{position:relative;min-height:640px;display:flex;padding: 100px 0;}
.postTensionWrap:after { content: ""; z-index: 5; pointer-events: none; border: 35px solid #fff; position: absolute; inset: 0; }
.postTensionBg{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:0;border-radius:3px}
.postTensionOverlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background:linear-gradient(90deg,#166457ff 0%,#ffff 100%);opacity:.5}
.postTensionWrap .container{position:relative;z-index:2;width:100%}
.postTensionContent{position:relative;z-index:2;padding:0;color:#fff}
.postTensionContent span{font-size: 55px;line-height: 1em;}
.postTensionContent h2 > em{display: block;}
.postTensionContent h2{font-size: 70px;line-height: 1em;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;margin-bottom: 30px;max-width: 635px;}
.postTensionContent p{font-size: 25px;line-height: 1.2em;margin-bottom: 40px;}
.postTensionContent .exploreBtn{display: inline-block;background: #fff;padding: 16px 42px;color: var(--greenBlue);border-radius: 30px;transition: all .5s ease;font-size: 22px;line-height: 1em;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;}
.postTensionContent .exploreBtn:hover{background: var(--greenBlue);color: #fff;}

/*client review*/
.clientReviewWrap{background:#EFEFEF;padding: 80px 0;}
.clientReviewContent{display:flex;gap:40px;flex-direction: column;}
.clientReviewSliderItem{display: flex;align-items: stretch;}
.clientReviewSliderItemImg{flex: 0 0 500px;}
.clientReviewSliderItemImg >img{width: 100%;height: 100%;object-fit: cover;}
.clientReviewSliderItemContent{flex: 1; padding: 0 35px;background:#E2E2E2;display: flex;flex-direction: column;justify-content: center;border-radius: 0 100px 0 0;}
.clientReviewSliderItemContent p{font-size: 25px;line-height: 1.4em;color: #000;font-family: 'neue_haas_grotesk_disp55roman';margin-bottom: 40px;}
.clientReviewSliderItemContent span{font-size: 25px;line-height: 1.2em;color: #000;font-family: 'neue_haas_grotesk_disp55roman';text-align: right;display: block;}
.clientReviewTitle > h2{font-size: 50px;line-height: 1.2em;margin-bottom: 20px;font-family: 'neue_haas_grotesk_disp55roman';color: #000;}
.clientReviewTitle > h2 > span{display: inline-block;font-size: 60px;line-height: 1em;color: #000;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;}
.clientReviewTitle > div > span{font-size: 35px;font-family:'neue_haas_grotesk_display65Md';font-weight: normal;color: #000;display: block;line-height: 1em;}
.clientReviewTitle > div{display: flex;gap: 8px;}

/*home form*/
.homeFormWrap{position:relative;padding:80px 0;color:#fff;display:flex;flex-direction:column;}
.homeFormBg{object-fit:cover;z-index:-2}
.homeFormOverlay{position:absolute;inset:0;background:rgba(0, 0, 0, 0.7);z-index:-1}
.homeFormWrap .container{height: auto; flex: 1; display: flex; flex-direction: column;}
.homeFormContent{display: flex;flex-direction: column;align-items: center;justify-content: space-between;flex: 1;}
.homeFormHead{max-width: 1050px;}
.homeFormHead h2{font-size:50px;line-height: 1.3em;margin-bottom:20px;color:var(--grey);text-align: center;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;}
.homeFormHead p{font-size:30px;line-height:1.5em;margin-bottom:40px;color:var(--grey);text-align: center;}
.homeFormSec{width: 100%;}
.homeFormSec form{display:flex;gap:30px;align-items:center;margin-top: 40px;}
.homeFormSec input{background:transparent;border:none;border:1px solid var(--grey);padding:12px 28px;color:#fff;font-size:18px;flex:1;border-radius: 50px;height: auto;}
.homeFormSec input::placeholder{color:var(--grey);font-size: 20px;line-height: 1em;}
.homeFormSec button{background: linear-gradient(252deg, #47beb1 0%, #0095d3 100%);padding:20px 70px;border-radius:30px;font-size:22px;line-height: 1em;transition:all .3s ease;color:#fff;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;border: 1px solid #fff;}
.homeFormSec button:hover{background: linear-gradient(252deg, rgba(0, 149, 211, 1) 0%, rgba(71, 190, 177, 1) 100%);color: #fff; }

/*footer*/
.footerWrap{background:#000;padding: 80px 0;}
.footerContent{display: flex;justify-content: space-between;gap: 60px;}
.footerContent span{color: #fff;font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;font-size: 22px;line-height: 1em;margin-bottom: 20px;display: block;}
.footerLogoSec{display: flex;flex-direction: column;justify-content: space-between;gap: 60px;}
.footerLinksSec{display: flex;gap: 120px;}
.socialMediaLinks{display: flex;gap: 40px;align-items: center;}
.socialMediaList{padding: 0;margin: 0;display: flex;gap: 20px;align-items:center;}
.socialMediaList  > li a img{transition: all .3s ease;}
.socialMediaList  > li a:hover > img{transform: scale(1.2);}
.footerLinksList{padding: 0;margin: 0;}
.footerLinksList > li > a{color: var(--grey);font-family: 'neue_haas_grotesk_display65Md'; font-weight: normal;font-size: 20px;line-height: 1.2em;margin-bottom: 18px;display: block;}
.footerLinksList > li:last-child > a{margin-bottom: 0;}
.footerLinksList > li > a:hover{color: var(--greenBlue);}
.footerBottomSec{display: flex;justify-content: space-between;border-top: 1px solid #707070;border-bottom: 1px solid #707070;padding: 25px 0;margin-top: 60px;}
.footerBottomSec > p{font-size: 16px;line-height: 1em;color: var(--grey);margin: 0;}
.footerAddressSec > p{color: var(--grey);font-size: 24px;margin: 0 0 15px;}
.socialMediaLinks > p{font-size: 24px;line-height: 1em;color: var(--grey);margin: 0;}

